
  <footer class="footer-section">
  
        <div class="left">
  
          <h3>Ami<span>Aid</span></h3>
  
          <p class="footer-links">
            <a href="/home" class="link-home">Home</a>
            
            <a href="/about"class="link-about">About</a>
          
            <a href="/projects"class="link-projects">Projects</a>
          
            <a href="/contact"class="link-contact">Contact</a>
            
          </p>
  
          <p class="footer-website-name">Amina Aidarus © 2022</p>
        </div>
  
        <div class="center">
  
          <div>
            <i class="fa fa-map-marker"></i>
            <p>Waterloo, ON, CA</p><br>
          </div>
          <br>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>+1.226.929.6924</p><br>
          </div>
          <br>
  
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:aaidaru1@my.centennialcollege.ca">aaidaru1@my.centennialcollege.ca</a></p>
          </div>
          <br>
  
        </div>
  
        <div class="right">
  
          <p class="footer-portfolio">
            <span>About my portfolio</span>
            I am a Software Engineering Technology student from Centennial College looking to contribute my programming skills and knowledge. 
          </p>
  
          <div class="footer-icons">
  
            <a href="https://www.linkedin.com/in/amina-aidarus/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/AminaAidarus"><i class="fa-brands fa-github"></i></a>
  
          </div>
  
        </div>
  
      </footer>