<h1> <%= title %> Me  </h1>

<div class="container">
    <img class="container__image" src="content/images/aboutPic.jfif">
    <div class="container__text">
      <h2>Who am I</h2>
      <p>I am Amina Aidarus, a software engineering technology student at Centennial College graduating on December 2024. 
        I developed a passion of learning programming languages after joining the program.
        I am familiar with HTML/CSS, JavaScript, C#, Java, Oracle SQL, PL/SQL. 
        I am self-motivated and have a passion to learn new technologies. My long term goal is gaining work experience in the Software field. 
        In my free time, I enjoy creative baking and spending time with family. </p>
    </div>
  </div>

  <a id = "resumeLink"href="content/files/AminaAidarusResume.pdf"style="width: 200px;">Download Resume</a>
