<h1> Contact Me Below:  </h1>
<br><br><br><br>
<article>
    <form>
        <fieldset>
            <p>
            <label>First Name: </p>
            <p><input type="text" name="firstName" id="firstName"required="yes"placeholder="first name"tabindex="1">
            </label>
            </p>
            <p>
            <label>Last name:</p>
           <p><input type="text" name="lastName" id="lastName"placeholder="last name"tabindex="2">
            </label>
            </p>
            <p>
            <label>Email:</p>
            <p><input type="text" name = "email" id = "email" placeholder="email"tabindex="3">
            </label>
            </p>
            <p>
            <label>Phone number:</p>
            <p><input type="text" name = "phone" id = "phone" placeholder="email"tabindex="4">
            </label>
            </p>
            <p>
            <label> Type your message:</p>
                <p><textarea name = "msg" id = "msg" placeholder="your message"cols = "100" rows="4"tabindex="5"></textarea>
            </label>
            </p>
            <p>
                <a id = "submit"href = "/home">Submit</a>
            </p>
        </fieldset>
    </form>