
<h1> Welcome To My <%= title %> Page  </h1>
<div class="container">
    <img class = "container__image" src = "content/images/myName.jpeg"style="height: 200px;">
    <div class = "container__text">
    <p> My name is Amina Aidarus</p>
    <p> I am a student from Centennial College at the Software Engineering Technology Program. To know more about me, click on the link below</p>
    <a id = "aboutMeLink"href = "/about">About Me</a>
        </div>
        </div>
        <br><br><br>
<div class="missionSec">
<h2 style = "font-weight:bold;text-align: center;">Mission Statement</h2>
<blockquote style ="color: darkviolet;text-align: center;">
    <em>"Success is no accident. It is hard work,perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do."</em> <br> 
******PELE******
</blockquote>
</div>