<h1> <%= title %> Page</h1>
<br><br><br><br>
<article>
    <form method="POST">
        
            <input type="text" class="form-control" id="username" name="username"  required
            value="" placeholder="Enter your username">
         
            <input type="password" class="form-control" id="password" name="password"  required
            value="" placeholder="Enter your password">

          <button id="loginButton" type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-sign-in-alt"></i> Login</button>
      </form>
</article>
