<h1> Welcome to my <%= title %> page  </h1>
<div class = "container">
        <img class= "container__image"src ="content/images/bugSmasher.png"alt = "bug smasher game"style="height:200px;">
        <div class = "container__text">
            <h2>Bug Smasher Game</h2>
        <p>I used HTML, CSS and JavaScript to make a bug smasher game. The game includes a canvas and a bug which changes its position
            and the speed to which the position changes is increased whenever the score gets higher.
        </p>
        </div>
        </div>
        <br>
    <div class = "container">
        <img class = "container__image"src = "content/images/realEstateAgent.png"alt = "real estate agent website" style="height:200px;">
       <div class = "container__text">
        <h2>Real Estate Agent Website</h2>
        <p>I used HTML and CSS to create a website for a real estate agent which included images and responsive web layout. </p>
        </div>
    </div>
    <br>
    <div class = "container">
      <img class = "container__image" src ="content/images/calculatorProject.png"  alt = "Calculator C# project" style = "height:200px;">
      <div class="container__text">
        <h2> Calculator Project</h2>
      <p> I implemented my C# programming knowledge to create a GUI calculator app using windows forms and visual studio. The calculator does simple
        calculations such as arithmetric operations, calculating square and square root, calculating sin and cos , e.t.c.
      </p>
      </div>
    </div>
    <br>