<h1> Welcome to my <%= title %> page  </h1>
<div class = "container">
    <h2>Programming</h2>
        <img src ="content/images/programming-service.jpg"alt = "programming" style="width:400px;height:200px">
        
        </div>
        <br>
    <div class = "container">
        <h2>Data Analytics</h2>
        <img src = "content/images/data-analytics.png"alt = "data analytics" style="width:400px;height:200px">
        
    </div>
    <br>
    <div class = "container">
        <h2>Web Development</h2>
      <img src ="content/images/web-dev.jpg"  alt = "web-dev" style = "width:400px;height: 200px;">
      
    </div>
    <br>